[% extends "base.html" %]

[% block content %]
<!-- AppLens SPA Container -->
<div>
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container">
            <a class="navbar-brand" href="javascript:void(0)">
                <i class="fas fa-eye me-2"></i>
                AppLens
            </a>
            <div class="navbar-nav ms-auto">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" ng-click="setCurrentView('environments')" ng-class="{'active': currentView === 'environments'}">
                            <i class="fas fa-server me-1"></i>
                            Environments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" ng-click="setCurrentView('jenkins')" ng-class="{'active': currentView === 'jenkins'}">
                            <i class="fas fa-bookmark me-1"></i>
                            Jenkins Bookmarks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" ng-click="setCurrentView('jira')" ng-class="{'active': currentView === 'jira'}">
                            <i class="fas fa-bug me-1"></i>
                            Jira Analysis
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Loading State -->
    <div ng-if="loading" class="text-center py-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p class="mt-2">Loading data...</p>
    </div>

    <!-- Environments View -->
    <div ng-if="currentView === 'environments' && !loading" ng-controller="EnvironmentsController" ng-include="'/templates/environments'"></div>
    
    <!-- Jenkins Bookmarks View -->
    <div ng-if="currentView === 'jenkins' && !loading" ng-controller="JenkinsController" ng-include="'/templates/jenkins'"></div>
    
    <!-- Jira Analysis View -->
    <div ng-if="currentView === 'jira' && !loading" ng-controller="JiraController" ng-include="'/templates/jira'"></div>
</div>


[% endblock %]

[% block scripts %]
<script>
    // Pass data from Flask to AngularJS
    window.productData = [[ data | tojson ]];
</script>
<!-- Load separate view controllers -->
<script src="[[ url_for('static', filename='js/environments.js') ]]"></script>
<script src="[[ url_for('static', filename='js/jenkins.js') ]]"></script>
[% endblock %]